:root{
    --colorprimario: #fff;
    --colorsecundario: lightblue;
}

* {
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: var(--colorprimario);
    padding: 30px 40px;
    display: flex;
    align-items: center; 
    justify-content: space-between;
}

header h1 {
    font-size: 30px;
}

header ul {
    list-style-type: none;
    display: flex;
    gap: 30px;
    font-size: 18px; 
}

.Acerca {
    padding: 50px;
    font-size: 20px;
}
.Estudios{
    padding: 50px;
    font-size:20px;
}

.medicos{
    padding:50px;
    font-size:20px;
}
.form-item {
    display: flex;          
    justify-content: center; 
    margin-top: 20px;       
}

.form-select {
    width: 300px;           
    padding: 10px;          
    border-radius: 8px;     
}
.Hospitales{
    padding:50px;
    font-size:20px;
}

body {
    background-color: var(--colorsecundario);
    font-family: sans-serif; 
}

footer {
    padding: 20px 0; 
    background-color: var(--colorprimario);
    margin-top: 50px;
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start; 
    list-style: none;
}

.container h5 {
    font-size: 18px;
    margin-bottom: 10px;
}

.container ul {
    list-style: none; 
}